*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
/*.head{
    height: 88vh;
    background-image:  url("../images/head1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}*/

:root{
    --color:#6400b5;
    --primary-color:#0061f2;
    --success:#005f3b;
    --warning: #f4a100;
}
.text{
    color: #ffffff80;
}

.header-text{
    font-size: 12px;
    font-style: italic;
    color: #6c737D;
    font-weight: 600;
}
.color-switcher{
    position: fixed;
    top: 0; right:-313px;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 1000;
}

.color-switcher.active{
    right: 0;
    
}


.color-switcher h3{
    color:  #a7aeb8;
    font-size: 15px;
    margin-bottom: 10px;
    right: 0;
    font-weight: bold;
}
.color-switcher .switcher-btn{
    position: absolute;
    top: 5rem; left: -64px;
    color: #222;
    background-color: #fff;
    padding-right: 27px;
    cursor: pointer;
    font-size: 25px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    box-shadow: #222 3px;
   
}
.color-switcher .switcher-btn i{
    animation: rotate 2s linear infinite ;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
.color-switcher .theme-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.color-switcher .theme-buttons-container .theme-button{

    display: block;
    cursor: pointer;
    text-align: left;
    color: #fff;
    font-size: 15px;
    height: 50px;
    border: none;
    
}
.first input[type='color']{
    color: var(--color);
    border-radius:10% ;
}


#color{
    border-radius: 10% !important;
    height: 45px;
    outline: none;
    width: 90px;
}
.prim{
    background-color: var(--color)!important;
    color: #fff!important;
    cursor: pointer;
    font-size: 15px;
    text-align: left!important;
    height: 45px;
}


#seco{
    color: var(--primary-color);
    border-radius: 10% !important;
    height: 45px;
    outline: none;
    border: none;
    width: 90px;
}
.seco{
    background-color: var(--primary-color)!important;
    color: #fff!important;
    cursor: pointer;
    font-size: 15px;
    text-align: left!important;
    height: 45px;
}


#succ{
    border-radius: 10% !important;
    height: 45px;
    outline: none;
    border: none;
    width: 90px;
}
.succ{
    background-color: var(--success)!important;
    color: #fff!important;
    cursor: pointer;
    font-size: 15px;
    text-align: left!important;
    height: 45px;
}


#warn{
    border-radius: 10% !important;
    height: 45px;
    outline: none;
    border: none;
    width: 90px;
}
.warn{
    background-color: var(--warning)!important;
    color: #fff!important;
    cursor: pointer;
    font-size: 15px;
    text-align: left!important;
    height: 45px;
}


/*--------------------------------*/
.showcase img{
    background: rgba(0,0,0,.25);
    opacity: 0.3;
    height: 88vh;
}

.showcase .body {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.showcase .body span{
    font-size: 3rem;
    font-family: "Sacramento",cursive;
    color: #31ff7a;
    text-shadow: 0px 1px 2px #333;
}
.showcase .body h1{
    font-size: 4rem;
}
.showcase form.search-box{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   
}
.showcase form.search-box .input-form input{
    height: 3rem;
    width: 100%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 32px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
}
.showcase form.search-box .select-items .form-select{
    
    height: 3rem;
    width: 100%;
    border-radius: 0;
    padding: 11px 100px 11px 34px;
}
.showcase form.search-box .select-form a{
     height: 3rem;
     text-decoration: none;
     color: #fff;
     display: block;
     background-color: #468ffc;
     text-align: center;
     padding:  12px 35px;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
}
/*------------------book now--------------------*/
.heading , .heading1{
    text-align: center;
}
.heading span ,
.heading1 span{
    font-size:2rem ;
    font-weight: 600;
    background-color: #92b6ec;
    color: navy;
    padding: .1rem .7rem;
    border-radius: .5rem;
}
.heading span.space{
    background: none;
}
.booki{
    padding: 10px 20px;
}
/*------------------*/
.size{
    font-size: 30px;
}
/*-------------packages-------------*/
/*.package .card{
    display: inline-block;
    overflow: hidden;
}
.package .card .card-img-top{

    display: block;
    overflow: hidden;
    transition: 2s all ease-in-out;
    transform: scale(1);
}
.package .card .card-img-top:hover{
    transform: scale(1.1);
}*/
.package .card{
    color: #222;
}
.fill{
    color: #468ffd;
}

.btn-color{
    background-color: navy;
    color: #fff;
    border: 2px solid navy;
}
.btn-color:hover{
 background-color: #92b6ec;
 color: navy;
}
.btn-color1{
    background-color: #fff;
    color: navy;
    border: 2px solid navy;
}
.btn-color1:hover{
    background-color:#92b6ec;
    color:navy;
    
}
.package .card .special{
    width: 5rem;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 18px;
    top: 15px;
    color: #fff;
    
}
.package .card .special p{
    margin: auto 4px;
}
/*--------services-----------*/

.services .card{
    overflow: hidden;
    position:relative;
    height: 14rem!important;
    border: none;
    transition: .5s top ease-in;
    cursor: pointer;
    border-radius:10px;
    overflow: hidden;
}
.services .card img{
    transition: 2.5s ease-in-out;
}
/*.services .card:hover{
    transform: translateY(-5px);
}*/
.services .card:hover img{
    transform: scale(1.2);
}
 .services .card .card-img{
    background: rgb(0, 0, 0);
    opacity: 0.4;
    position: absolute;
    transition: .5s ease;
 }
 .services .card .card-img-overlay{
     position: relative;
     justify-content: center;
     align-self: center;
     left: 0;
     top:0;
     width: 100%;
     text-align: center;
 }
/*.services .card-img-overlay{
    justify-content: center;
    align-self: center;
    position: absolute;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: .5s ease;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}*/

/*-------gallery--------*/
.gallery .card {
    height: 18rem!important;
    border: none;
    border-radius: 10px!important;
}
.gallery .card img{
    border-radius: 10px;
    background: rgb(0, 0, 0);
    opacity: 0.9;
    position: absolute;
}
.gallery .center .card{
    height:8.8rem!important;
}
.gallery .card .first{
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    color: #fff;
    width: 5rem;
    background-color: #468ffc;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
}
.gallery .card:hover img {
    background: rgb(0, 0, 0);
    opacity: 0.3;
    transition: .5s all ease-in-out;
    overflow: hidden;
       }
       
.gallery .card:hover .first{
    display: block;
    color: #fff;
    transition: 1s all ease-in-out;
           
       }
.size1{
 font-size: 20px;
    }      
/*
.gallery .one .card{
    height: 16rem!important;
    width: 100%;
}
.gallery .two .card{
    height: 14rem!important;
    width: 100%;
}
.gallery .three .card{
    height: 12rem!important;
    width: 100%;
}
.gallery .card .first{
    position:absolute;
    bottom:0;
    left: 0;
}
.gallery .card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    display: none;
}
.gallery .card:hover .first{
    display: none;
}
.gallery .card:hover .content{
    display: block;
    background: rgba(0,0,0,.5);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  
}*/
/*------review-----------*/
.review .review-slider{
    padding-bottom: 2rem;
}
.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background-color: #fff;
    color: black;
}
.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;

    object-fit: cover;
   margin-bottom: 1rem;
}


/*----------footer------------*/

footer {
    background-color: #333;
    color: black;
}

.tag{
    font-weight: bold;
}
.underline1{
    border-bottom: 2px solid #30306e;
    width: 70px;
}
.anc{
    color: black;
    text-decoration: none;
}

.so1{
  text-decoration: none;
  color: #fff;
}
.so1:hover{
    text-decoration: none;
    color: #fff;
}
.so2{
    background-color: #3b5998;
    border-radius: 50%;
   width: 32px;
}

.so3{
    background-color:#55acee;
    border-radius: 50%;
}

.so4{
    background-color: #dd4b39;
    border-radius: 50%;
    width: 32px;
}

.so5{
    background-color: #ac2bac;
    border-radius: 50%;
    width: 32px;
}
.so6{
    background-color: #0082ca;
    border-radius: 50%;
    width: 32px;
}

.let{
    width: 75%;
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;
}
.in{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sie{
    background-color: #222;
    color: #fff;
}

#btnScrollToTop{
    display: none;
    z-index: 99;
    background-color: #3b5998;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff;
    position: fixed;
    border-radius: 50%;
    right: 20px;
    bottom: 95px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
}
#btnScrollToTop:active{
    background: #92b6ec;
}

/*---------------------*/

@media(max-width:500px){
.showcase img{
        height: 70vh;
        width: 100%;   
    }
   
   
    .heading span{
        font-size: 1rem;
    }
    .heading1 span{
        font-size: 1rem;
        padding: .1rem .4rem;
    }

    .review .box{
        width: 18rem;
        margin: auto;
    }
    .review .box img{
        width:8rem;
        height:8rem;
    }
    
}
@media(max-width:768px){
    .showcase .body span{
        font-size: 1.5rem;
    }
    .showcase .body h1{
        font-size: 2rem;
    }
    .showcase form.search-box .input-form input{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
       
    }
    .showcase form.search-box .select-form .select-items .form-select{
        padding: 11px 154px 11px 28px;
    }

    .showcase form.search-box .select-form a{
        padding: 12px 111px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/*--------------------*/
.book .card{
    height: 18rem!important;
}
.book .center .card{
    height:8.8rem!important;
}